body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 70px;
    padding-left: 300px;
    padding-right: 300px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
}

.hero-section {
    height: 550px;
    background-color: #1F2937;
}