body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: roboto;
}

 /* Header section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 70px;
    padding-left: 270px;
    padding-right: 338px;
}

.logo {
    height: 350px;
    margin-top: 35px;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 20px;
}

/* hero section */

.hero-section {
    height: 600px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -25px;
}

.hero-button {
    color: white;
    background-color: #3882F6;
    font-size: 17px;
    border-style: none;
    padding: 6px 28px;
    border-radius: 6px;
    font-weight: bold;
    width: 150px;
}

.hero-left {
    height: 250px;
    width: 550px;
    background-color: aquaa;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.hero-right {
    height: 250px;
    width: 550px;
    background-color: aquaa;
    margin-left: 50px;
}

.hero-sushi {
    width: 100%;
}